@import './static/header.scss';
@import './RMap.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 64px);
}


.HotelList {
  background-color: white;

  .ant-col {
    position: relative;
  }

  .ant-list-item .ant-col .ant-row {
    margin: 0 1em;
  }

  .ant-list-item .ant-col .ant-row .ant-col:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

header {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    
    li {
      display: block;
      padding: 0 1rem;
      line-height: 64px;

      a {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  .username {
    cursor: pointer;
  }
}

.Auth {
  padding-top: 70px;

  > div {
    width: 40%;
    margin: auto;
  }
}