
.RMap {
  padding-top: 64px;
  position: relative;

  > .ant-col {
    position: absolute;
    background-color: transparent;
    z-index: 2500;
    width: 100%;

    background-color: white;
    height: calc(100vh - 64px);
  }

  .adding-process {
    padding: 14px;

    .photos {
      margin-top: 14px;
    
      .btn {
        margin-top: 14px;
      }
    }

  }
  
  form {
    background-color: white;

    &.ant-form {
      padding: 1em;

      .ant-row {
        margin-bottom: 0px;
      }
    }

    .ant-col {
      position: relative!important;
      padding-bottom: 0px;
    }
  }

  .HotelDetails {
    position: relative;
    height: 100%;

    .infos {
      padding: 0 2em;
      
      .ant-empty {
        width: 100%;
        height: 50vh;

        svg {
          width: 100%;
          height: 50vh;
          object-fit: cover;
        }
      }

      img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
      }
    }

    .favorite {
      position: absolute;
      bottom: 0;
      width: 100%;

      Button {
        height: 2em;
        font-size: x-large;
        border-radius: 0;
      }
    }

  }

}